.DS_Store/
image-processing/cine-strain-estimation/PilotData20MidSACineStrainPairedComparison
image-processing/manual-segmentation/old

model-construction/averageShape
model-construction/notUsed

*.dat
*.m~